apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: saas-ia
  namespace: ia
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: saas-ia
  minReplicas: 1
  maxReplicas: 1
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 10
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
        - type: Pods
          value: 3
          periodSeconds: 15
      selectPolicy: Max
    scaleDown:
      stabilizationWindowSeconds: 60
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
